@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
	box-sizing: border-box;
}

body {
	font: normal normal 13px/16px "Roboto", sans-serif;
	background: #c6c7c7;
}
.container {
	width: 75%;
	margin: 50px auto 20px;
	padding: 23px 10px 10px 10px;
	background-color: rgb(253, 253, 253);
	border-radius: 8px;
}
h1,
p {
	text-align: center;
	margin: 10px auto;
	padding: 10px;
}
form {
	display: inline-block;
	width: 70%;
	margin: 2px;
	padding: 0px;
}
input {
	padding: 0;
	width: 100%;
	height: 40px;
}
input:focus {
	background-color: #e8edee;
}
#button {
	display: inline-block;
	width: 20%;
	background-color: rgb(10, 228, 101);
	color: rgb(0, 0, 0);
	border-radius: 5px;
	text-align: center;
	margin: 1px auto;
	padding: 12px 10px;
}

#button:hover {
	cursor: pointer;
	opacity: 0.8;
}

ol {
	padding-left: 2px;
	margin: 10px 15px;
	width: 90%;
}

ol li {
	padding: 12px;
	margin: 1px;
	color: rgb(0, 0, 0);
}
ol li:nth-child(even) {
	background: #dfdfdf;
}
.strike {
	text-decoration: line-through;
}
li:hover {
	cursor: pointer;
	background-color: #c1e6f0;
}
.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}
